# ---------------------------
# GitHub Pages (Jekyll/Ruby)
# ---------------------------
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
/vendor
Gemfile.lock

# ---------------------------
# Editores
# ---------------------------
# VS Code
.vscode/
*.code-workspace

# Visual Studio (IDE completo) – por si algún día lo usas
.vs/
*.user
*.suo
*.opensdf
*.sdf
*.cache
*.pdb

# ---------------------------
# Sistemas operativos
# ---------------------------
# macOS
.DS_Store
# Windows
Thumbs.db
Desktop.ini
# Linux (swap y backups de editores)
*~
*.swp

# ---------------------------
# Dependencias Node (por si añades scripts o un generador)
# ---------------------------
node_modules/

# ---------------------------
# Carpetas de build de otros generadores estáticos
# ---------------------------
# Descomenta SOLO la que uses
# public/
# dist/

